.container-main {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.sub-container-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 50px;
  
}

.sub-container-main-right{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
 
    padding-left: 20px;
    background-color: rgb(20, 194, 113);

}

.title {
   font-size: 54px;
}

.gtk-btn {
    width: fit-content;
    height: fit-content;

    border:none;
    border-radius: 12px;
    padding: 14px 28px;
    align-self: center;

    background-color: black;
    color: white;
    transition: 0.25s ease-in;
     cursor: pointer;
}

.gtk-btn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}


.container-main-horizontal {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.container-main-horizontal-children{
    width: 80%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    margin-bottom: 0;
    background-color: blue;
}

.services {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: auto;
}

.content-description-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 50px;
  
}

.circle {
    width: clamp(270px, 40vw, 900px);
    height: clamp(270px, 40vw, 900px);

   
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    z-index: -2;
}

.slider {
    background: rgb(255, 255, 255);
    height: 100px;
    margin-top: 0px;
    justify-content: space-between;

    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 10s linear infinite;
    display: flex;

    width: calc(250px * 14);
    /* Ajuste para o número de imagens */
}

.slide {
    height: 100px;
    width: 250px;
}

#space {
    margin-top: 30px;

}

/* Colors */
.red {
    color: red;
}

.blue {
    color: rgba(28, 103, 245, 1);
}

.green {
    color: rgba(17, 200, 0, 1)
}

.background-red {
    background-color: red;
}

.background-blue {
    background-color: rgba(28, 103, 245, 1);
}


.background-green {
    background-color: rgba(17, 200, 0, 1)
}

.reverse {
    flex-direction: row-reverse;
}

#center {

    justify-content: center;
    text-align: center;


    margin-bottom: 5.5rem;

}

#padin-zero {
    padding-left: 0;
}

#padin-not0 {
    padding-left: 20px;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}


@media only screen and (min-width: 600px) {
    .element-one {
        height: auto;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        margin-top: clamp(20px, 10vw, 50px);
    }

    .element-one-children {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;


    }

    .element-one-children-circle {

        align-items: center;
        justify-content: center;
        padding-top: 0;
        padding-left: auto;

        border: 2rem;
    }

    .element-two {
        width: 100%;
        height: auto;
    }

    .services {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: clamp(0.5rem, 2.5vw, 10rem);
        margin-bottom: clamp(0.5rem, 7.5vw, 10rem);
    }

}