@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


h1,h2,h3,h4,h5,h6, p, a, link, 
input, label, div, button, input{
    font-family: "Inter", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

button,
input[type="button"],
input[type="submit"],
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  color: inherit;
  font: inherit;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
